*~
*.simg
*.sif
*.err
*.out
*.txt
*.nii
*.csv
*.nii.gz
*.json

QC
metrics_exp
test*
test_ppmi_hc
testing_incovation_creator
invocations*
spm_ieee
anat*
outputs*
participants.tsv
temp*.sh
.docker*
.venv
__pycache__
pipline
dist
original_data
!PD_selected_subjects.txt
!HC_selected_subjects.txt
build
lnrgst_mca.egg-info
old
