*~
*.simg
*.sif
*.err
*.out
*.txt
*.nii
test
test_ppmi_hc
invocations*
spm_ieee
anat*
*.txt
*.nii.gz
outputs*
participants.tsv
temp*.sh
.docker*
.venv
__pycache__
pipline
original_data
!PD_selected_subjects.txt
!HC_selected_subjects.txt
*.csv
*.nii
